.task {
  margin: 0.2rem;
  border-radius: 0.3rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-task-container{
  display: flex;
  flex-direction: column;
  gap:.5rem;
}
.task-title {
  margin: 0;
}
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0.5rem 0 0.5rem 0.5rem;
  word-wrap: break-word
}
.edit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  background-color: inherit !important;
}
.edit-input {
  background-color: white;
  border: 0.2px solid rgb(24, 195, 24);
  outline: none;
  border-radius: 0.2rem;
  padding: 0.45rem 0.875rem;
}
.edit-input {
  width: 90%;
  border-radius: 0.2rem;

  font-family: "Roboto Mono", monospace;
}
.edit-input:focus {
  box-shadow: 0 0 5px rgb(24, 195, 24);
}

.save-button {
  width: 5rem;
  height: 2rem;
  background-color: rgb(24, 195, 24);
  border-radius: 0.2rem;
  color: white;
  font-family: "Roboto Mono", monospace;
  border: none;
}

.material-symbols-outlined {
  margin: 0 0.5rem 0 0;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 0;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.fade-enter{
opacity: 0;
}.fade-enter-active{
opacity: 1;
transition: opacity .3s ease-out;
}

.fade-exit{
  opacity: 1;
  }
  .fade-exit-active{
  opacity: 0;
  transition: opacity .3s ease-out;
  }

