

.App {
  text-align: center;

}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}


.App-logo { 
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* .main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */


.inner-container{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  min-width: 45rem;
  min-height: 37rem;
  border-radius: .2rem;
  display:flex;
  flex-direction: column;
  gap:.5rem;

}
.task-component{
  transition: background-color 0.5s ease-in 0.3s;
}
.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* border:1px solid red; */
  border-radius:.2rem;    
  margin:.2rem .2rem .2rem .2rem;


}
.add-button{
  width: 5rem;
  height: 2rem;
  background-color: rgb(24, 195, 24);
  border-radius: .2rem;
  color:white;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.1rem;
  border:none;
}
.close-button{
  width: 5rem;
  height: 2rem;
  background-color: red;
  border-radius: .2rem;
  color:white;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.1rem;
  border:none;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
